@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: url('../img/img.jpg') no-repeat center / cover;
  padding: 25px 30px;
}
.container {
    position: relative;
    height: 100%;
    background: rgb(255, 255, 255 ,.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 0 0 5px #ffffffa1;
}
header {
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
  
header .navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  border-color: #ffffff;
}
.contact-wrapper{
  
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.contact{
  background-color: #f9f9f975;
  width: 428px;
  height: 450px;
  display: flex;
  flex-direction: column;
  color: #0056b3;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  border: 1px white solid;
  animation: zoom-in 1s ease forwards;
  transform: scale(0);
}
@keyframes zoom-in {
  100%{
    transform: scale(1);
  } 
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
input,textarea{
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.318);
  border-radius: 10px;
  outline: none;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  height: 50px;
  margin-bottom: 10px;
}
input::placeholder,textarea::placeholder {
  color: #0056b3;
}
textarea{
  height:120px;
  padding: 20px;
}
button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid white;
}
