@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url('../img/img.jpg') no-repeat center / cover;
    padding: 25px 30px;
}

.container {
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 0 0 5px #ffffffa1;
}

header {
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header .navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    border-color: #ffffff;
}
.education-container {
  display: flex;
  text-align: center;
  padding: 20px;
}

.education-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.education-box {
  background-color: #f9f9f975;
  padding: 20px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  text-align: left;
  animation: slideUp 0.8s ease-out;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo{
  text-align: center;
}
img{
  height: 100px;
  width: 100px;
}
.education-box h3 {
  font-size: 22px;
  color: #0056b3;
  margin-bottom: 8px;
}

.education-box ul {
  list-style: none;
  padding: 0;
}

.education-box ul li {
  font-size: 16px;
  margin-bottom: 8px;
}

.education-box ul li strong {
  color: #222;
}
