@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../img/img.jpg') no-repeat center center/cover;
}

.wrapper {
  width: 428px;
  height: 450px;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  background: transparent;
  backdrop-filter: blur(20px);
  border: 1px white solid;
  animation: zoom-in 1s ease forwards;
  transform: scale(0);
}
@keyframes zoom-in {
  100%{
    transform: scale(1);
  } 
}
form{
  padding-top: 30px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  height: 58px;
  margin: 20px 0;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  outline: none;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -10px 0 15px;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 5px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid white;
}

.register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.register-link p {
  margin: 0;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

