@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: url('../img/img.jpg') no-repeat center / cover;
    padding: 25px 30px;
}

.container {
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid white;
    box-shadow: 0 0 5px #ffffffa1;
}

header {
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header .navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    border-color: #ffffff;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    margin-left: 35px;
}

.Projects {
    width: 300px;
    height: 400px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 15px;
    box-shadow: 0 0 5px #ffffff90;
    transform: translateY(40px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    transition: 0.3s;
}

.Projects:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    transform: scale(1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.Projects h1 {
    color: white;
}

.project-details {
    text-align: left;
    list-style-type: disc;
    padding-left: 20px;
    color: white;
}

.Projects img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

button {
    padding: 10px 30px;
    background: #007bff;
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

@keyframes slide-in {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .blocks {
        grid-template-columns: 1fr;
    }
    .Projects {
        width: 90%;
    }
}
